In [35]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
# from config.py import census_key
c = Census("e48a8339d00963d6c0b809c550d138e6c5e766bb") #,year=2013)

In [36]:
#name of the geographic area and the number of homes that were built before 1939 for the state of Maryland.
c.acs5.get(('NAME', 'B25034_010E'),
          {'for': 'state:{}'.format(states.MD.fips)})

[{'NAME': 'Maryland', 'B25034_010E': 128476.0, 'state': '24'}]

In [37]:
# Helper methods have been created to simplify common geometry calls
c.acs5.state(('NAME', 'B25034_010E'), states.MD.fips)

[{'NAME': 'Maryland', 'B25034_010E': 128476.0, 'state': '24'}]

In [47]:
#get population density
census_data = c.acs5.get(('NAME', 'B01003_001E','B19301_001E'),
          {'for': 'state:{}'.format(states.FL.fips)},
                        {'in':'tract:'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
census_pd.head()

      NAME  B01003_001E  B19301_001E state
0  Florida   20901636.0      31619.0    12

In [65]:
tract=c.sf1.get(('NAME',) geo={'for': 'tract:*',
                       'in': 'state:{} county:170'.format(states.AK.fips)}))
census_pd = pd.DataFrame(tract)
census_pd.head()

SyntaxError: invalid syntax (<ipython-input-65-06dc1cc45a74>, line 1)

In [64]:
#same thing but easier
geo=c.sf1.state_county_tract('NAME', states.AK.fips, '170', Census.ALL)

census_pd = pd.DataFrame(geo)
census_pd.head()

                                                NAME state county   tract
0  Census Tract 1.01, Matanuska-Susitna Borough, ...    02    170  000101
1  Census Tract 1.02, Matanuska-Susitna Borough, ...    02    170  000102
2  Census Tract 2, Matanuska-Susitna Borough, Alaska    02    170  000200
3  Census Tract 3, Matanuska-Susitna Borough, Alaska    02    170  000300
4  Census Tract 4.01, Matanuska-Susitna Borough, ...    02    170  000401

In [27]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'state:{}'.format(states.MD.fips)})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
census_pd.head()
# # Column Reordering
# census_pd = census_pd.rename(columns={"B01003_001E": "Population",
#                                       "B01002_001E": "Median Age",
#                                       "B19013_001E": "Household Income",
#                                       "B19301_001E": "Per Capita Income",
#                                       "B17001_002E": "Poverty Count",
#                                       "NAME": "Name", "zip code tabulation area": "Zipcode"})

# # Add in Poverty Rate (Poverty Count / Population)
# census_pd["Poverty Rate"] = 100 * \
#     census_pd["Poverty Count"].astype(
#         int) / census_pd["Population"].astype(int)

# # Final DataFrame
# census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
#                        "Per Capita Income", "Poverty Count", "Poverty Rate"]]

# # Visualize
# print(len(census_pd))
# census_pd.head()

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,state
0,Maryland,84805.0,6018848.0,38.7,42122.0,539991.0,24

In [3]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)